<!-- _tweet.html.erb -->
<div class="tweet">
  <p><%= link_to tweet.user.name, user_path(tweet.user) %></p>
  <p><%= tweet.content %></p>
  <% if tweet.image.attached? %>
    <%= image_tag tweet.image %>
  <% end %>
</div>
