
<div class="tweet">
  <% @tweets.each do |tweet| %>
    <p><%= link_to tweet.user.name, user_path(tweet.user) %></p> <!-- この行を更新 -->
    <p><%= tweet.content %></p>
  <% end %>
  <% if tweet.image.attached? %>
    <%= image_tag tweet.image %>
  <% end %>
</div>
