<!-- _tweet.html.erb -->
<div class="tweet">
  <p><%= link_to tweet.user.name, user_path(tweet.user) %></p>
  <p><%= tweet.content %></p>
  <% if tweet.image.attached? %>
    <%= image_tag tweet.image %>
  <% end %>

  <% if user_signed_in? && current_user == tweet.user %>
    <%= link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <% end %>
</div>