body {
  margin: 0;
  background-color: #E3D7C0;
}

body a {
  text-decoration: none;
  color: #000;
}

body a:hover {
  text-decoration: underline;  /* オプション: ホバー時にアンダーラインを表示する場合 */
}

.header-container {
  background-color: #41ad53;
  padding: 10px 0;
  text-align: center;
  width: 100%; /* コンテナの幅を100%に設定 */
  box-sizing: border-box; /* paddingやborderがwidthに含まれるようにする */
}

.header-link {
  color: white;
  margin: 0 10px; /* マージンを少し狭くする */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  white-space: nowrap; /* リンクテキストが折り返されないようにする */
}

.header-link:hover {
  color: #e6f3ff; /* ホバー時の色 */
}

.main-content {
  padding: 20px; /* 必要に応じて調整 */
}
